{% extends 'base_not_authenticated.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h3 class="mb-4 font-weight-normal text-center">Logowanie</h3>
    {{ form_start(registrationForm) }}
    <div class="row justify-content-center mb-2">
        <div class="col-auto">
            {{ form_label(registrationForm.firstName) }}
            {{ form_widget(registrationForm.firstName, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="col-auto">
            {{ form_label(registrationForm.lastName) }}
            {{ form_widget(registrationForm.lastName, { attr: { class: 'form-control' } }) }}
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-auto">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, { attr: { class: 'form-control' } }) }}
        </div>
        <div class="col-auto">
            {{ form_label(registrationForm.plainPassword, 'Password') }}
            {{ form_widget(registrationForm.plainPassword, { attr: { class: 'form-control' } }) }}
        </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="row justify-content-center mb-2">
        <div class="col-auto">
            <label>
                {{ form_widget(registrationForm.agreeTerms) }} {{ form_label(registrationForm.agreeTerms) }}
            </label>
        </div>
    </div>
    <div class="row justify-content-center mb-2 mt-5">
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">
                Zarejestruj
            </button>
            <a class="btn btn-outline-primary" href="{{ path('app_login') }}">
                Wróć
            </a>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
