{% extends 'base.html.twig' %}

{% block title %}
	{{ club.name }}
{% endblock %}

{% block body %}
	{% include 'club/components/_club_header.html.twig' %}
	<div class="container">
		{% for flashError in app.flashes('note') %}
			<div class="alert alert-warning mt-3" role="alert">{{ flashError|raw }}</div>
		{% endfor %}
		{% for flashSuccess in app.flashes('success') %}
			<div class="alert alert-success mt-3" role="alert">{{ flashSuccess|raw }}</div>
		{% endfor %}
		<div class="row">
            <h2 class="mt-3">Cele w klubie</h2>
			<div class="col">
				{% if goals is not empty %}
				<ul class="list-group mt-4">
					{% for goal in goals %}
						<li class="list-group-item">
							<div class="row">
								<div class="col-auto">
									<h1 class="mt-2 ms-2">
									<i class="{{ goal.iconClassName | default("bi-star")  }}"></i>
									</h1>
								</div>
								<div class="col">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1 mt-2">
										{{ goal.name }}
										</h5>
									</div>

									<p class="text-muted">{{ goal.description }}</p>
								</div>
								<div class="col-12 col-md-auto text-end text-md-start">
									{% if goal.isAchieved %}
										<div class="btn-group w-100">
											<button disabled class="btn btn-primary">Wykonane</button>
											<a class="btn btn-danger" href="{{ path('goal_forget', { id: goal.id }) }}"><i class="bi bi-x-lg"></i></a>
										</div>
									{% elseif goal.isAchieved is null %}
										<button disabled class="btn btn-dark">Status nieznany, odśwież stronę</button>
									{% else %}
										<a class="btn btn-success w-100" href="{{ path('goal_achieve', { id: goal.id }) }}">Wykonaj</a>
									{% endif %}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				{% else %}
					<p class="text-muted">
						Nie zdefiniowano jeszcze żadnych celów.
						{% if is_owner %}
						<br/><a href="{{ path('goal_create', { id: club.id }) }}">Utwórz cel</a>
						{% endif %}
					</p>
				{% endif %}
			</div>
			<div class="col-12 col-lg-3">
				<div class="card mt-4">
					<div class="card-body">
						<h5 class="card-title">O klubie</h5>
						<p class="card-text">
							<i class="bi bi-calendar-event" data-bs-toggle="tooltip" data-bs-placement="left" title="Data założenia"></i> {{ club.createdAt|date('d-m-Y h:i') }}<br/>
							<i class="bi bi-bullseye" data-bs-toggle="tooltip" data-bs-placement="left" title="Ilość celów"></i> {{ goals|length }}<br/>
							<i class="bi bi-people" data-bs-toggle="tooltip" data-bs-placement="left" title="Ilość członków"></i> {{ club.userClubs|length }}<br/>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
