<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Achiever</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('clubs') }}">Kluby publiczne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cele</a>
        </li>
        {% if myClubs is not empty %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Moje kluby
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for club in myClubs %}
            <li><a class="dropdown-item" href="{{ path('club_show', { id: club.id }) }}">{{ club.name }}</a></li>
            {% endfor %}
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{{ path('club_create') }}">Stwórz klub</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      {# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> #}
      <div class="d-flex">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-outline-dark" href="{{ path('admin') }}">Administracja</a>
        &nbsp;
        {% endif %}
        <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Wyloguj</a>
      </div>
    </div>
  </div>
</nav>